# Python cache
__pycache__/
*.py[cod]

*.csv
*.zip
*.proto
tutorials/ds_handmade_ml/outputs
a
# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv

# Data & outputs
/data/raw/*
/data/processed/*
/models/*
/logs/*
/submissions/*.csv
/notebooks/*.ipynb
!data/processed/.gitkeep
!logs/.gitkeep
!models/.gitkeep

# Misc
.DS_Store
